@font-face {
  font-family: "FiraSans";
  src: url("./assets/fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans_Medium";
  src: url("./assets/fonts/FiraSans/FiraSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans_SemiBold";
  src: url("./assets/fonts/FiraSans/FiraSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans_Bold";
  src: url("./assets/fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans_BoldItalic";
  src: url("./assets/fonts/FiraSans/FiraSans-BoldItalic.ttf") format("truetype");
}
