@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

body {
  margin: 0;
  font-family: "FiraSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
}
